	<ion-nav-bar class="notheme">
	        <ion-nav-back-button class="notheme">
	        </ion-nav-back-button>
		<ion-nav-buttons side="left">
		  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		  </button>
		</ion-nav-buttons>
	</ion-nav-bar>

<ion-tabs has-header=true>

    <ion-tab title="Modules" Xicon="ion-toggle" href="#/tab/admin/modules" class="notheme">
      <ion-nav-view name="tab-modules"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Menus" Xicon="ion-android-list" href="#/admin/menu" class="notheme">
      <ion-nav-view name="tab-menu"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Offers" Xicon="ion-ios-world" href="#/admin/offers" class="notheme">
      <ion-nav-view name="tab-offers"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Rewards" Xicon="ion-ios-world" href="#/admin/rewards" class="notheme">
      <ion-nav-view name="tab-rewards"></ion-nav-view>
    </ion-tab>
    <!--ion-tab title="Appointments" href="#/admin/appointments" class="notheme">
      <ion-nav-view name="tab-appt"></ion-nav-view>
    </ion-tab-->
</ion-tabs>
