<ion-view view-title="Login" >
	<ion-nav-bar class="notheme">
	        <ion-nav-back-button class="notheme">
	        </ion-nav-back-button>
		<ion-nav-buttons side="left">
		  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		  </button>
		</ion-nav-buttons>
	</ion-nav-bar>
    <ion-content class="notheme">
    	<div class="text-center ">
    		<!--img src="./imgs/app_logo.png" style="max-height:180px" /-->
    	</div>
    	<form name="form_login" ng-submit="login.form_process();" autocomplete="off">
    		
				<label class="item item-input notheme">
					<span class="input-label">Email</span>
					<input type="email" required ng-model='login.m_form.username'>
				</label>
				
				<label class="item item-input notheme">
					<span class="input-label">Password</span>
					<input type="password" required ng-model='login.m_form.password'>
				</label>

		<button class="button button-block button-calm notheme">
		  Login
		</button>
    	</form>
		<a href="#/register" class="button button-block button-clear button-dark notheme">
		  Create Account
		</a>
     
    </ion-content>

</ion-view>